.my_width_form {
  width: 100%;
  background-image: url("https://img.freepik.com/free-vector/paper-style-white-monochrome-background_23-2149001605.jpg?w=2000");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow-y: auto;
  padding: 30px 0;
}

.my_width_form .sec_bg {
  width: 60%;
  margin: 0 auto;
}

